/* hi */

/* 1: deletes */

::-webkit-scrollbar {
    display: none;
  }
  
  .carousel,
  .bigMFeatHold,
  div#voiceDisplay,
  .setSugBox2,
  #tlInfHold,
  #newsHolder,
  #editorBtnM,
  .menuSocialB,
  #aHider,
  #rankedSoonTm,
  .verticalSeparator {
    display: none !important;
  }
  
  a {
    color: var(--linkd);
  }
  
  /* 2: dark theme */
  
  element.style {
      border: 6 px solid var(--mainc) !important;
      height: 40 px;
      background-color: var(--mainc);
  }
  
  .buttonP {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  .buttonR {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  .buttonPI {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  .buttonG {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  .buttonB {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  .buttonO {
      border: 4px solid var(--mainc)!important;
      background-color: var(--mainc)!important;
      box-shadow: inset 0 -7px 0 0 var(--mainc)!important;
  }
  
  * {
      outline: none;
      font-family: gamefont;
      color: var(--textc);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  #chatInput::placeholder{
      color: transparent;
  }
  
  #chatInputHolder::before{
      content: "annoy people";
      position: absolute;
      color: var(--textc);
      bottom: 17px;
      left: 70px;
      opacity: 0.5;
      pointer-events: none;
  }
  
  #chatHolder:focus-within #chatInputHolder::before{
      opacity: 0;
  }

  #voiceDisplay {
    display: none;
}

.chatItem {
    border-radius: 0px;
    margin-left: 8px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-right: 6px;
    max-width: 340px;
    background-color: transparent !important;
}


.chatMsg[style="color:#fc03ec"] {
    color: var(--text2c) !important;
}

.chatMsg span[style*="#9eeb56"] {
    color: var(--textc) !important;
}
  
  /* 3: class picker */
  
  #aHolder,
  #onetrust-consent-sdk {
    display: none !important;
  }
  
  #hiddenClasses {
    display        : flex !important;
    flex-direction : column;
    position       : fixed;
    right          : 0px;
    top            : unset;
    height         : calc(100% - 100px);
    bottom         : 50%;
    transform      : translate(0, 50%);
    margin-right   : 10px;
    width          : unset;
    align-items    : center;
    justify-content: center;
  }
  
  #menuClassPicker0[onclick="selectClass(0)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_0.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker0[onclick="selectClass(0)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker1[onclick="selectClass(1)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_1.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker1[onclick="selectClass(1)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker2[onclick="selectClass(2)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_2.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker2[onclick="selectClass(2)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker3[onclick="selectClass(3)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_3.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker3[onclick="selectClass(3)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker4[onclick="selectClass(4)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_4.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker4[onclick="selectClass(4)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker5[onclick="selectClass(5)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_5.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker5[onclick="selectClass(5)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker6[onclick="selectClass(6)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_6.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker6[onclick="selectClass(6)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker7[onclick="selectClass(7)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_7.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker7[onclick="selectClass(7)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker8[onclick="selectClass(8)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_8.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker8[onclick="selectClass(8)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker9[onclick="selectClass(9)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_9.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker9[onclick="selectClass(9)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker10[onclick="selectClass(10)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_10.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker10[onclick="selectClass(10)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker11[onclick="selectClass(11)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_11.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker11[onclick="selectClass(11)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker12[onclick="selectClass(12)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_12.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker12[onclick="selectClass(12)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker13[onclick="selectClass(13)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_13.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker13[onclick="selectClass(13)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  #menuClassPicker14[onclick="selectClass(14)"] {
    display        : block;
    width          : 40px;
    height         : 40px;
    content        : url(https://assets.krunker.io/textures/classes/icon_14.png);
    pointer-events : auto;
    image-rendering: pixelated;
    margin-right   : 10px;
    padding        : 5px;
    border-radius  : 10px;
    border         : 3px solid var(--mainc);
  }
  
  #menuClassPicker14[onclick="selectClass(14)"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px var(--mainc));
  }
  
  /* spectator stuff and menu timer and settings and just a bunch of things */
  
  #uiBase.onMenu #spectateUI {
    display: block!important;
    position: fixed;
    bottom: 48.5%;
    top: unset;
    left: var(--hide);
    right: unset;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 10px;
    height: 10px;
  }
  
  #uiBase.onMenu #spectateHUD {
    display: flex;
    justify-content: center;
    transform: unset;
    left: unset;
  }
  
  #uiBase.onMenu #specTeam0, #uiBase.onMenu #spec0, #uiBase.onMenu #spec1, #uiBase.onMenu #specNames, #uiBase.onMenu #specStats, #uiBase.onMenu #specContr, #uiBase.onMenu #specKPDContr, #uiBase.onMenu #specSus, #uiBase.onMenu #specTeam1, #uiBase.onMenu #specGMessage, #uiBase.onMenu #specGameInfo {
    display: none!important
  }
  
  #uiBase.onMenu #specTimer {
    display: block!important;
    font-size: 35px;
    background-color: transparent;
    color: rgba(255,255,255,.55)
  }
  
  #settingsTabLayout {
      font-size: 16px;
      display: table;
      width: 100%;
      margin-top: 18px;
      text-align: center;
      background-color: var(--linkd);
      border-radius: 6px;
  }
  
  .settingsHeader {
      width: 100%;
      padding-top: 19px;
      padding-bottom: 10px;
      position: -webkit-sticky;
      position: sticky;
      top: -1px;
      z-index: 999999999;
      background-color: #000;
      padding-left: 20px;
      margin-left: -20px;
  }
  
  #settSearch {
      width: 100%;
      text-align: left;
      font-size: 16px;
      box-sizing: border-box;
      border: none;
      background-color: var(--mainc);
      border-radius: 4px;
      padding: 6px 10px 5px;
  }
  
  .inputGrey2 {
      border: none;
      background: var(--mainc);
      padding: 6px;
      padding-bottom: 6px;
      float: right;
      margin-left: 10px;
      font-size: 15px;
      border-radius: 4px;
  }
  
  #menuWindow.dark {
      background-color: var(--mainc);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
  }
  
  .settingTab {
      font-size: 20px;
      background-color: rgb(0 0 0);
      cursor: pointer;
      display: table-cell;
      padding: 15px 0 15px;
  }
  
  .pubHed {
      background: rgb(0 0 0);
      color: var(--textc)!important;
      margin-left: -15px;
      margin-top: -15px;
      width: calc(100% + -10px);
      line-height: 60px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 22px;
      margin-bottom: 10px;
      text-align: center;
  }
  
  #importPop {
      pointer-events: all;
      border-radius: 10px;
      padding: 15px;
      text-align: left;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-60%);
      color: var(--textc);
      box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
      background-color: #000000;
      width: 400px;
  }
  
  .serverHeader {
      width: 100%;
      padding-top: 19px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 999999999;
      background-color: #000;
  }
  
  .setHed {
      border: 4 px solid rgb(0 0 0);
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 5px;
      background-color: rgb(0 0 0);
      margin-top: 40px;
      font-size: 22px;
      cursor: pointer;
      color: var(--textc);
      margin-bottom: 20px;
  }
  
  #menuPingDisplay .material-icons {
      color: var(--text2c);
      vertical-align: bottom;
      font-size: 20px;
  }
  
  #mainLogo {
      height: 280px;
  
  }
  
  
  #healthBar {
      display:inline-flex;
      width:400px;
  }
  
  .healthBarSeg {
      width:-webkit-fill-available;
      margin-right:-1px;
      border-radius:0;
  }
  
  .hpBSeg {
      border-radius:0;
      box-shadow:none;
  }
  
  .healthBarSeg:last-child,.healthBarSeg:last-child .hpBSeg {
      border-top-right-radius:25px;
      border-bottom-right-radius:25px;
  }
  
  .healthBarSeg:first-child,.healthBarSeg:first-child .hpBSeg {
      border-top-left-radius:25px;
      border-bottom-left-radius:25px;
  }
  
  .cardActions {
      transition:opacity 0.3s,backdrop-filter 0.5s;
  }
  
  .marketCard:hover .cardActions {
      backdrop-filter:blur(6px);
      transition:opacity 0.3s,backdrop-filter 0.5s;
  }
  
  #fpsDisplay,#pingIcon {
      visibility:hidden;
  }
  
  #ingameFPS {
      visibility:visible;
      color: var(--text2c) !important;
  }
  #ingameFPS:after {
      content:' fps';
  }
  
  #pingText:after {
      content:' ping';
  }
  
  #hudClassIcon {
      display: none;
  }
  
  #healthValueHolder {
      background-color: transparent;
      padding: 0 !important;
      margin: 0 !important;
      bottom: 9%;
      right: 56.5%;
      transform: translateX(50%);
      position: fixed;
  }
  
  #healthValue {
      font-size: 32px !important;
      text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000 !important;
  }
  
  #maxHP {
      display: none;
  }
  
  #healthBar {
      display: none;
  }
   
  .hpBSeg, .healthBarSeg {
      display: none;
  }
  
  #challIcon {
      display: none !important;
  }
  
  /*Ammo*/
  
  #ammoDisplay {
      background-color: transparent !important;
      background-image: linear-gradient(90deg, var(--accent), var(--accent));
      background-position-y: 92px;
      border-radius: 0px;
      padding: 0;
      padding-bottom: 32px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0 !important;
      position: fixed;
      bottom:6%;
      left: 56.5%;
      justify-content: center;
      text-align: center;
      transform: translateX(-50%);
  }
  
  #ammoVal {
      font-size: 32px;
      color: var(--accent);
      text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000 !important;
  }
  
  #ammoMax {
      display: none;
  }
  
  #ammoIcon {
      display: none !important;
  }
  
  #reloadMsg {
      visibility: hidden!important;
  }
  
  /*top left*/
  
  #pingDisplay .material-icons, #ingressDisplay .material-icons, #egressDisplay .material-icons {
      font-size: 24px;
      color: var(--accent)
  }
  
  #pingIcon {
      color: var(--accent) !important;
  }
  
  
  #timerIcon {
      display: none;
  }
  
  /*top right*/
  
  .leaderName {
    color: var(--textc);
  }
  
  .leaderCounter, .leaderNameM, .leaderScore {
    color: var(--text2c);
  }
  
  .leaderNameF {
    color: var(--text2c);
    opacity: 0.5;
  }
  
  .countIcon {
      background-color: transparent;
      color: var(--textc);
      text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000 !important;
      font-size: 16px;
    }
  
  #killsIcon, #deathsIcon, #streakIcon, #kdIcon {
      visibility: hidden!important;
  }
  
  #killsVal, #deathsVal, #streakVal, #myScoreVal, #kdVal {
      color: var(--textc);;
  }
  
  .countIcon .material-icons {
    font-size: 28px !important;
    visibility: hidden!important;
    display: none;
  }
  
  #myScoreVal:before {
    visibility: visible!important;
    content: '+'!important;
  }
  
  #killsVal:after {
      visibility: visible!important;
      content: 'k'!important;
  }
  
  #deathsVal:after {
      visibility: visible!important;
      content: 'd'!important;
  }
  
  #streakVal:after {
      visibility: visible!important;
      content: 's'!important;
  }
  
  #myScoreVal:after {
      visibility: visible!important;
      content: 'xp'!important;
  }
  
  #kdVal:after {
      visibility: visible!important;
      content: 'kdr'!important;
  }
  
  .endTableN[style="color: var(--textc)"]:before {
      content:"\2192";
      font-size:25px;
      margin-right:10px;
  }
  
  #seasonLabel:after {
      visibility: visible!important;
      content: ''!important;
  }  