/* Deletes */

::-webkit-scrollbar {
  display: none;
}

.carousel,
.bigMFeatHold,
div#voiceDisplay,
.setSugBox2,
#tlInfHold,
#newsHolder,
#editorBtnM,
.menuSocialB,
#aHider,
#rankedSoonTm,
.verticalSeparator {
  display: none !important;
}



element.style {
    border: 6 px solid #302c29 !important;
    height: 40 px;
    background-color: rgb(48 44 41);
}

.buttonP {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

.buttonR {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

.buttonPI {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

.buttonG {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

.buttonB {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

.buttonO {
    border: 4px solid #302c29!important;
    background-color: #302c29!important;
    box-shadow: inset 0 -7px 0 0 #302c29!important;
}

* {
    outline: none;
    font-family: gamefont;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chatInput::placeholder{
    color: transparent;
}

#chatInputHolder::before{
    content: "annoy people";
    position: absolute;
    color: #fff;
    bottom: 17px;
    left: 70px;
    opacity: 0.5;
    pointer-events: none;
}

#chatHolder:focus-within #chatInputHolder::before{
    opacity: 0;
}


/* Class Picker */

#aHolder,
#onetrust-consent-sdk {
  display: none !important;
}

#hiddenClasses {
  display        : flex !important;
  flex-direction : column;
  position       : fixed;
  right          : 0px;
  top            : unset;
  height         : calc(100% - 100px);
  bottom         : 50%;
  transform      : translate(0, 50%);
  margin-right   : 10px;
  width          : unset;
  align-items    : center;
  justify-content: center;
}

#menuClassPicker0[onclick="selectClass(0)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_0.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker0[onclick="selectClass(0)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker1[onclick="selectClass(1)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_1.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker1[onclick="selectClass(1)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker2[onclick="selectClass(2)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_2.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker2[onclick="selectClass(2)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker3[onclick="selectClass(3)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_3.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker3[onclick="selectClass(3)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker4[onclick="selectClass(4)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_4.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker4[onclick="selectClass(4)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker5[onclick="selectClass(5)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_5.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker5[onclick="selectClass(5)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker6[onclick="selectClass(6)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_6.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker6[onclick="selectClass(6)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker7[onclick="selectClass(7)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_7.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker7[onclick="selectClass(7)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker8[onclick="selectClass(8)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_8.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker8[onclick="selectClass(8)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker9[onclick="selectClass(9)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_9.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker9[onclick="selectClass(9)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker10[onclick="selectClass(10)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_10.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker10[onclick="selectClass(10)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker11[onclick="selectClass(11)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_11.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker11[onclick="selectClass(11)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker12[onclick="selectClass(12)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_12.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker12[onclick="selectClass(12)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker13[onclick="selectClass(13)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_13.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker13[onclick="selectClass(13)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#menuClassPicker14[onclick="selectClass(14)"] {
  display        : block;
  width          : 40px;
  height         : 40px;
  content        : url(https://assets.krunker.io/textures/classes/icon_14.png);
  pointer-events : auto;
  image-rendering: pixelated;
  margin-right   : 10px;
  padding        : 5px;
  border-radius  : 10px;
  border         : 3px solid #302c29;
}

#menuClassPicker14[onclick="selectClass(14)"]:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px var(#302c29));
}

#settingsTabLayout {
    font-size: 16px;
    display: table;
    width: 100%;
    margin-top: 18px;
    text-align: center;
    background-color: rgb(247 0 0 / 80%);
    border-radius: 6px;
}

.settingsHeader {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 999999999;
    background-color: #000;
    padding-left: 20px;
    margin-left: -20px;
}

#settSearch {
    width: 100%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 6px 10px 5px;
}

.inputGrey2 {
    border: none;
    background: #302c29;
    padding: 6px;
    padding-bottom: 6px;
    float: right;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 4px;
}

#menuWindow.dark {
    background-color: #302c29;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
}

.settingTab {
    font-size: 20px;
    background-color: rgb(0 0 0);
    cursor: pointer;
    display: table-cell;
    padding: 15px 0 15px;
}

.pubHed {
    background: rgb(0 0 0);
    color: #fff!important;
    margin-left: -15px;
    margin-top: -15px;
    width: calc(100% + -10px);
    line-height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

#importPop {
    pointer-events: all;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-60%);
    color: #fff;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 50%);
    background-color: #000000;
    width: 400px;
}

.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: #000;
}

.setHed {
    border: 4 px solid rgb(0 0 0);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(0 0 0);
    margin-top: 40px;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
    margin-bottom: 20px;
}

#menuPingDisplay .material-icons {
    color: rgb(158, 235, 86);
    vertical-align: bottom;
    font-size: 20px;
}

#mainLogo {
    height: 280px;

}


#healthBar {
    display:inline-flex;
    width:400px;
}

.healthBarSeg {
    width:-webkit-fill-available;
    margin-right:-1px;
    border-radius:0;
}

.hpBSeg {
    border-radius:0;
    box-shadow:none;
}

.healthBarSeg:last-child,.healthBarSeg:last-child .hpBSeg {
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
}

.healthBarSeg:first-child,.healthBarSeg:first-child .hpBSeg {
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
}

.cardActions {
    transition:opacity 0.3s,backdrop-filter 0.5s;
}

.marketCard:hover .cardActions {
    backdrop-filter:blur(6px);
    transition:opacity 0.3s,backdrop-filter 0.5s;
}

#fpsDisplay,#pingIcon {
    visibility:hidden;
}

#ingameFPS {
    visibility:visible;
}
#ingameFPS:after {
    content:' fps';
}

#pingText:after {
    content:' ping';
}

#hudClassIcon {
    display: none;
}

#healthValueHolder {
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 9%;
    right: 56.5%;
    transform: translateX(50%);
    position: fixed;
}

#healthValue {
    font-size: 32px !important;
    text-shadow: 2px 2px 2px #000;
}

#maxHP {
    display: none;
}

#healthBar {
    display: none;
}
 
.hpBSeg, .healthBarSeg {
    display: none;
}

#challIcon {
    display: none !important;
}

/*Ammo*/

#ammoDisplay {
    background-color: transparent !important;
    background-image: linear-gradient(90deg, var(--accent), var(--accent));
    background-position-y: 92px;
    border-radius: 0px;
    padding: 0;
    padding-bottom: 32px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0 !important;
    position: fixed;
    bottom:6%;
    left: 56.5%;
    justify-content: center;
    text-align: center;
    transform: translateX(-50%);
}

#ammoVal {
    font-size: 32px;
    color: var(--accent);
    text-shadow: 2px 2px 2px #000 !important;
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none !important;
}

#reloadMsg {
    visibility: hidden!important;
}



/*Top Left*/

#pingDisplay .material-icons, #ingressDisplay .material-icons, #egressDisplay .material-icons {
    font-size: 24px;
}

#pingIcon {
    color: var(--accent) !important;
}


#timerIcon {
    display: none;
}

/*Top Right*/

.countIcon {
    background-color: transparent;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
    font-size: 16px;
}

#killsIcon, #deathsIcon, #streakIcon, #kdIcon {
    visibility: hidden!important;
}

#killsVal, #deathsVal, #streakVal, #myScoreVal, #kdVal {
    color: #fff;
}

#killsVal:after {
    visibility: visible!important;
    content: 'k'!important;
}

#deathsVal:after {
    visibility: visible!important;
    content: 'd'!important;
}

#streakVal:after {
    visibility: visible!important;
    content: 's'!important;
}

#myScoreVal:after {
    visibility: visible!important;
    content: 'xp'!important;
}

#kdVal:after {
    visibility: visible!important;
    content: 'kdr'!important;
}

.endTableN[style="color:#fff"]:before {
    content:"\2192";
    font-size:25px;
    margin-right:10px;
}

#seasonLabel:after {
    visibility: visible!important;
    content: ''!important;
}
