/* download instructions: do ctrl + s on this page and put it in your resource swapper. if you need more help there are many tutorials online */

@import url(https://ashevoy.github.io/kc/latest.css);

/* customization under, note that this is work in progress */

:root {
    --mainc: #302c29;
    /* main color (backgrounds etc,). default: 302c29 */
    
    --borderstext: #000;
    /*default is 000*/

    --textc: #ffffff;
    /* default is ffffff */

    --linkd: #ff4fb9;
    /* link color, default is ff4fb9 */
}